
<div class="mainContainer">
  <h1>{{title}}</h1>
  <ul>



        <li *ngFor= 'let profile of getProfile' (click)='showProfile()'>



            <a routerLink="/editContactDetails/{{profile.id}}">



              {{profile.firstName}},{{profile.lastName}}


            </a>

          <button class="btn-delete" (click)='removeProfile()'>

            DELETE

          </button>
           <hr>


        </li>

  </ul>
  <a routerLink="/addContact"><button class="btn-newProfile"> NEW PROFILE</button></a>


</div>
