.mainSurveyContainer{
  border: 2px solid blue;
  height: 900px;
  width: 600px;
  background-color:lightyellow;
  padding: 5px;
  margin: 40px;
  margin-left: 200px;
  margin-top: 100px;
  box-sizing: border-box;
}
