.cart{
  height: auto;
  width: 1000px;
  margin: 40px;
  /* border: 2px solid brown; */

}
.orderButton{
  float: right;
  height: 50px;
  width: 150px;
  background-color: brown;
  color:wheat;
}
.btnOrder{
  height: 50px;
  width: 150px;
  background-color: brown;
  color:wheat;
  font-size: 20px;
}
span{
  font-size: 20px;
}
.cartHeadline{
  height: 40px;
  width: 900px;
  margin: 40px;
  /* border: 2px solid brown; */
}
.item{
  float: left;
  margin: 20px;
  width: 450px;
}
.price{
  float: left;
  margin: 20px;
  width: 100px;
}
.quantity{
  float: left;
  margin: 20px;
  width: 100px;
}
.total{
  float: left;
  margin: 20px;
  width: 80px;
}
