<!-- <p>
  cart works!
</p> -->

<div class="cart">

   <b><p>Shopping Cart</p></b><hr>

   <div class="cartHeadline">
     <div class="item"><b>Item</b></div>
     <div class="price"><b>Price</b></div>
     <div class="quantity"><b>Quantity</b></div>
     <div class="total"><b>Total</b></div>
   </div>
   <hr>
   <app-cart-item [shoppingCart]='item' *ngFor= 'let item of dataToRender' [quantity]= 'dataObject[item.id]'></app-cart-item>

   <a routerLink="/thankyou">
    <div class="orderButton">
        <button class="btnOrder">Order Now</button>
      </div>
  </a>

</div>
