
<div class="homeDisplay">

  <div class="top">
     <img src="../../assets/images/top.png" alt="topAdd" height="200px" width="900px">
  </div>
  <div class="leftAdd">
    <img src="../../assets/images/left.png" alt="leftadd" height="200px" width="200px">

  </div>
  <div class="rightAdd">
    <img src="../../assets/images/right.png" alt="rightadd" height="200px" width="200px">

  </div>
  <div class="leftAdd">
      <img src="../../assets/images/right1.png" alt="leftadd" height="200px" width="200px">

    </div>



</div>
