.homeDisplay{
  /* border: 2px solid brown; */
  width: 1000px;
  height: 475px;
  margin-left: 40px;
}

.showGuitar{
  /* border: 2px solid red; */
  width: 150px;
  height: 250px;
  margin: 10px 10px 10px 70px;
  float: left;
}

.guitarImage{
  height: 230px;
  width: 135px;
  float: left;
}
.guiterHome{
  height: 180px;
  width: 135px;
}
