.homeDisplay{
  /* border: 2px solid brown; */
  width: 1000px;
  height: 475px;
  margin-left: 40px;
}
.top{
  /* border: 2px solid blue; */
  height: 200px;
  width: 900px;
  margin: 20px 20px 20px 20px;
}
.leftAdd{
  /* border: 2px solid green; */
  height: 200px;
  width: 200px;
  float: left;
  margin: 20px 20px 20px 80px;
}
.rightAdd{
  /* border: 2px solid green; */
  height: 200px;
  width: 200px;
  float: left;
  margin: 20px 20px 20px 60px;
}
