
<div class="homeDisplay">

  <div class="showGuitar">
    <div class="guitarImage">

        <img src="../../assets/images/guitar1jpg.jpg" alt="guitar1" class="guiterHome">

        <p>Guitar</p>
        <p>Price: $2999.99</p>

    </div>

  </div>



  <div class="showGuitar">

      <div class="guitarImage">

          <img src="../../assets/images/guitar2.jpg" alt="guitar1" class="guiterHome">
          <p>Guitar</p>
          <p>Price: $2999.99</p>

      </div>

  </div>

  <div class="showGuitar">

      <div class="guitarImage">

          <img src="../../assets/images/guitar3.jpg" alt="guitar1" class="guiterHome">
          <p>Guitar</p>
          <p>Price: $2999.99</p>

      </div>

  </div>


  <div class="showGuitar">

      <div class="guitarImage">

          <img src="../../assets/images/guitar4.jpg" alt="guitar1" class="guiterHome">
          <p>Guitar</p>
          <p>Price: $2999.99</p>

      </div>

  </div>


  <div class="showGuitar">

      <div class="guitarImage">

          <img src="../../assets/images/guitar5.jpg" alt="guitar1" class="guiterHome">
          <p>Guitar</p>
          <p>Price: $2999.99</p>

      </div>

  </div>


  <div class="showGuitar">

      <div class="guitarImage">

          <img src="../../assets/images/guitar6.jpg" alt="guitar1" class="guiterHome">
          <p>Guitar</p>
          <p>Price: $2999.99</p>

      </div>

  </div>


  <div class="showGuitar">

      <div class="guitarImage">

          <img src="../../assets/images/guitar7.jpg" alt="guitar1" class="guiterHome">
          <p>Guitar</p>
          <p>Price: $2999.99</p>

      </div>

  </div>
  <div class="showGuitar">

      <div class="guitarImage">

          <img src="../../assets/images/guitar8.jpg" alt="guitar1" class="guiterHome">
          <p>Guitar</p>
          <p>Price: $2999.99</p>

      </div>

  </div>


</div>
