/* You can add global styles to this file, and also import other style files */
button{
  width: 70px;
  height: 30px;
  background-color: blue;
  color: white;
  border-radius: 20px;
  margin: 5px;
}
