<div class="guitarContainer">


  <form action="" [formGroup]="filterForm">
      <ul>
          <li>
            <label class="container">Electric
              <input type="checkbox" formControlName= 'electric'>
            </label>
          </li>

          <li>
              <label class="container">Acoustic
                <input type="checkbox" formControlName= 'acoustic' >
              </label>
          </li>

        </ul>
  </form>




    <app-guitar-item [guitarItem]='item' *ngFor= 'let item of guitarData'></app-guitar-item>

</div>




