.navBar{
  /* border: 2px solid blue; */
  height: 45px;
  width: 1000px;
  margin: 20px 20px 20px 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
  /* height: 80px; */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: black;
  color: red;
}

.active {
  background-color: black;
}
