<!-- <p>
  cart-item works!
</p> -->
<div class="cartItem">

  <div class="cartImage">
    cartImage

  </div>

  <div class="cartDiscription">
    cartDiscription

  </div>

  <div class="cartPrice">
    cartPrice

  </div>

  <div class="x">
    cart X

  </div>

  <div class="cartQuantity">
    Cart Quantity

  </div>

  <div class="cartTotal">
    cart Total

  </div>

</div>



<a routerLink="/thankyou">
  <div class="orderButton">
      <button class="btnOrder">Order Now</button>
    </div>
</a>

