
<div class="cartItem">

  <div class="cartImage">
    <img src={{shoppingCart.image}} alt="">

  </div>

  <div class="cartDiscription">
    <p>{{shoppingCart.name}}</p>
    <!-- <p>#Item: {{shoppingCart.itemNum}}</p> -->

  </div>

  <div class="cartPrice">
    ${{shoppingCart.price}}

  </div>

  <div class="x">
    <b>X</b>

  </div>

  <div class="cartQuantity">
    <!-- Cart Quantity -->
    {{quantity}}

  </div>

  <div class="cartTotal">
    {{total}}

  </div>

</div>



<!-- <a routerLink="/thankyou">
  <div class="orderButton">
      <button class="btnOrder">Order Now</button>
    </div>
</a> -->

